<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7NyYHFdG_sy4JwUelPDpkvCFYcUlkpQY</string>
	<key>GCM_SENDER_ID</key>
	<string>780717316577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.come.f1ng41nz</string>
	<key>PROJECT_ID</key>
	<string>app296-2413a</string>
	<key>STORAGE_BUCKET</key>
	<string>app296-2413a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780717316577:ios:a68cb63660000265d81aa0</string>
</dict>
</plist>